
<div id="candidateList" class="box">

</div>
<div id="preferenceList" class="box2">

</div>

<div class="btn-submit">
<input type="BUTTON" id="save" value="save">

</input>


<input type="BUTTON" id="submit" value="submit" onclick="window.location.href='/choices/wait';"/ >


</input>

</div>
