
<div id="candidateList" class="box">

</div>
<div id="preferenceList" class="box2">

</div>

<div class="btn-submit">
<input type="BUTTON" id="save" value="save">

</input>


<input type="BUTTON" id="submit" value="submit" onclick="window.location.href='/choices/wait';"/ >


</input>

</div>

<h5>notice: if you cannot see choosing blocks, just refresh this page, then everything will be fine. I am trying to figure out why these choosing blocks don't appear automatically if you visit this page through a link_to but not the direct url.'</h5>