<h1>Hello, Welcome to the team formation website!</h1>

<h3><%= link_to 'Enter the System(For User)', experiments_index_path %></h3>
<h3><%= link_to 'Enter the System(For Administrator)', new_experiment_path %></h3>