<h1>Hello, Welcome to the team formation website!</h1>

<h3><%= link_to 'Enter the System(For User)', '/welcome/join'%></h3>
<h3><%= link_to 'Enter the System(For Administrator)', '/experiments/new'  %></h3>