/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  background: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

.container {
  padding: 0;
  width: 100%;
}
/*choose page */
.clear { 
  clear: both; 
  width: 1px; 
  height: 0px; 
  line-height: 0px; 
  font-size: 1px; 
}

.box { 
  position: static; 
  float: left; 
  width: 200px; 
  height: 800px; 
  margin: 60px; 
}

.bor {
 position: static; 
 width: 100px; 
 height: 100px; 
 margin: 0 0 5px 0 ; 
 border: 1px solid #ccc; 
 background: #ececec; 
}

.borp { 
  position: absolute; 
  width: 100px; 
  height: 80px; 
  margin: 10px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  background: #ececec; 
}

.bg { 
  float:left; 
  width: 100px; 
  height: 100px; 
  margin: 8px 5px 0 auto; 
  padding: 10px; 
  border: 1px solid #ccc; 
}

.box2 { 
  position: static; 
  float: right; 
  width: 200px; 
  height: 800px; 
  margin: 60px 
}

.bgColor { 
  border: 1px dashed #f00; 
}


/* FORM PAGES */


.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 300px;
}

input[type=text],
input[type=email],
input[type=password] {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}


  
/*  RESPONSIVE */

@media screen and (max-width: 992px) {
  .img-container img {
    width: 100%;
  }
}

@media screen and (max-width: 512px) {
  .pull-right {
    background-color: #f1f2f2;
    position: relative;
    margin: 0;
    width: 100%;
  }

  .pull-right ul {
    margin: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
  }

  .pull-right ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 50%;
  }

  .pull-right ul li a {
    display: block;
    width: 100%;
  }

  .img-container {
    height: 200px;
  }
}